@model IEnumerable<Week8Lab.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
        <td>
            <div class="up" id="@item.PostId">
                @Html.DisplayFor(modelItem => item.Upvote)
            </div>
        </td>
        <td>
            <div class="down" id="@item.PostId">
                @Html.DisplayFor(modelItem => item.Downvote)
            </div>
        </td>
        <td>
            <div class="rank">
                @Html.DisplayFor(modelItem => item.Rank)
            </div>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
        </td>
    </tr>
}

</table>

    @section scripts{
        <script type="text/javascript">


            $(document).ready(function () {

                $('div.up').click(function () {

                    var post = $(this).data('postid');

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Upvote", "Posts")',
                        data: { postid : post },
                        success: function (data) {
                            alert('success');
                            $('.rank').html(data)
                            
                        }

                    });
                })
            });

        </script>
    }