@model IEnumerable<Week8Lab.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<style>
    .title{
        color: blue;
        font-size: 16px;
    }

    .likes{
        margin-left: auto;

    }

    .submitted-by{
        font-size: small;
        color: lightblue;
    }
</style>


@foreach (var item in Model)
{

    var numOfComments = item.Comments.Count().ToString();
    var hours = (int)(DateTime.Now - item.DatePosted).TotalHours;
    if (hours > 24)
    {
        hours = (int)(DateTime.Now - item.DatePosted).TotalDays;
    }

    <div class="posts">
        <h3 class="title">@Html.Action(item.Title, $"{item.Url}")</h3>
        <br />
        <p class="submitted-by">submitted @hours @(hours < 24 ? "hours" : "days") ago by <span class="user">@Html.ActionLink($"{item.User}", "", new { id = item.User })</span>></p>
        <br />
        <p class="comments">@Html.ActionLink($"{numOfComments} comments", "", new { id = item.Comments })</p>
    </div>

    <div class="likes">
        <div class="up" data-postid="@item.PostId">
            <span class="glyphicon glyphicon-arrow-up"></span>
        </div>
        <div class="rank-result">
            <h3 class="rank">Rank: @Html.DisplayFor(modelItem => item.Rank)</h3>
        </div>
        <div class="down" data-postid="@item.PostId">
            <span class="glyphicon glyphicon-arrow-up"></span>
        </div>
    </div>

    @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
@Html.ActionLink("Delete", "Delete", new { id = item.PostId })

}



@section scripts{
    <script type="text/javascript">


        $(document).ready(function () {

            $('div.up').click(function () {

                var post = $(this).data('postid');

                $.ajax({
                    type: 'POST',
                    url: '/posts/upvote',
                    data: { postid: post },
                    success: function (data) {
                        $('.rank').html(data);
                        $('div.up').unbind("click");
                    }
                });
            })
            $('div.down').click(function () {

                var post = $(this).data('postid');

                $.ajax({
                    type: 'POST',
                    url: '/posts/downvote',
                    data: { postid: post },
                    success: function (data) {
                        $('.rank').html(data);
                        $('div.down').unbind("click");

                    }

                });
            })
        });

    </script>
}