@model IEnumerable<Week8Lab.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    
            @Html.DisplayFor(modelItem => item.Title)
        
            @Html.DisplayFor(modelItem => item.Body)
        
            @Html.DisplayFor(modelItem => item.DatePosted)
        
            @Html.DisplayFor(modelItem => item.DateUpdated)
        
            <div class="up" data-postid="@item.PostId">
               Upvote
            </div>
        
            <div class="rank">
                Rank: @Html.DisplayFor(modelItem => item.Rank)
            </div>
        
            <div class="down" data-postid="@item.PostId">
                Downvote
            </div>
        
            @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
        
}



    @section scripts{
        <script type="text/javascript">


            $(document).ready(function () {

                $('div.up').click(function () {

                    var post = $(this).data('postid');

                        $.ajax({
                        type: 'POST',
                        url: '/posts/upvote',
                        data: { postid : post },
                        success: function (data) {
                            $('.rank').html(data);
                            $('div.up').unbind("click");


                        }

                    });
                })
                $('div.down').click(function () {

                    var post = $(this).data('postid');

                    $.ajax({
                        type: 'POST',
                        url: '/posts/downvote',
                        data: { postid: post },
                        success: function (data) {
                            $('.rank').html(data);
                            $('div.down').unbind("click");

                        }

                    });
                })
            });

        </script>
    }